@use "../utils/" as *;

.index {
    background-color: black;

    height: 100dvh;
    flex: 1;

    position: relative;

    scroll-snap-align: center;
    scroll-snap-stop: normal;


    &__menu-overflow-fix {
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        scrollbar-gutter: stable;

        padding-right: 5px;

        &:hover {
            --_scrollbar-bg: rgba(255, 255, 255, 25%);
            --_scrollbar-thumb-bg: white;
        }

        --_scrollbar-bg: transparent;
        --_scrollbar-border-radius: 10px;

        --_scrollbar-thumb-border: none;

        --_scrollbar-thumb-bg: transparent;
        --_scrollbar-thumb-bg-hover: rgba(255, 255, 255, 80%);
        --_scrollbar-thumb-bg-active: rgba(255, 255, 255, 50%);
    }

    &__menu-container {
        container-type: inline-size;
        container-name: menu;

        backdrop-filter: blur(20px);
        background-color: #0000004d;

        background-attachment: fixed;
        background-size: cover;

        z-index: 2;

        position: fixed;
        top: 50%;

        width: 85%;
        height: 80dvh;

        translate: calc(-100% - 5px) -50%;
        transition: translate 350ms ease-in-out;


        border-radius: 5px;
        border-top-right-radius: 0px;

        border: 2px solid #d4d4d4;
        border-left: none;
        border-right: none;

        padding: 10px;

        padding-right: 0;

        &::before {
            content: "";

            position: absolute;
            bottom: 0;
            right: -2px;

            background-color: #d4d4d4;

            width: 2px;

            height: calc(100% - 46px);

            border-bottom-right-radius: 100vmax;
        }

        &.active {
            translate: 0% -50%;

            & .index__menu-opener-label::before {
                rotate: 45deg;
                top: 50%;
            }

            & .index__menu-opener-label::after {
                rotate: -45deg;
                top: 50%
            }
        }
    }

    &__menu-opener-label {
        --_size: 50px;

        position: absolute;
        width: var(--_size);
        aspect-ratio: 1/1;

        top: -2px;
        right: calc(-1 * var(--_size));

        background-color: #0000004d;
        backdrop-filter: blur(10px);

        border-radius: 5px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

        border: 2px solid #d4d4d4;
        border-left: none;

        z-index: 69;

        &::before {
            transition: rotate 350ms ease-in-out,
                top 350ms ease-in-out;
            content: "";

            position: absolute;
            top: 35%;
            left: 50%;

            translate: -50% -50%;

            width: 25px;
            height: 2px;

            background-color: white;
        }

        &::after {
            transition: rotate 350ms ease-in-out,
                top 350ms ease-in-out;
            content: "";

            position: absolute;
            top: 65%;
            left: 50%;

            translate: -50% -50%;

            width: 25px;
            height: 2px;

            background-color: white;
        }
    }


    &__gradient {
        &--css {
            --_gradient: linear-gradient(45deg, rgb(189, 195, 225) 0%, rgb(249, 145, 126) 100%);
            --_gradient: none;

            background-image: var(--_gradient);

            position: absolute;

            top: 0;
            left: 0;

            z-index: 0;

            width: 100%;
            height: 100%;
        }

        &--svg {
            position: absolute;

            top: 0;
            left: 0;

            z-index: 0;

            width: 100%;
            height: 100%;
        }

        &--canvas {
            position: absolute;

            top: 0;
            left: 0;

            z-index: 0;

            width: 100%;
            height: 100%;
        }

    }
}


.menu {

    width: 100%;

    color: white;

    &__add-color-button {
        background-color: #3b3b3b;

        padding-inline: 10px;
        padding-block: 5px;

        border-radius: 100vmax;

        &:hover {
            filter: contrast(80%);
        }

        &:active {

            filter: contrast(65%);
        }
    }

    &__types-language {}

    &__table-container {
        pointer-events: all !important;
    }


    &__table {

        scrollbar-gutter: stable;
        --_scrollbar-bg: rgba(255, 255, 255, 25%);


        --_scrollbar-thumb-border: none;
        --_scrollbar-thumb-bg: white;
        --_scrollbar-thumb-bg-hover: rgba(255, 255, 255, 80%);
        --_scrollbar-thumb-bg-active: rgba(255, 255, 255, 50%);


        min-height: 78px;
        height: 250px;

        @include tablet-only {
            min-height: 250px;
        }

        @include mobile-only {
            min-height: 250px;
        }

        overflow-x: hidden;
        overflow-y: auto;

        resize: vertical;
        // 
        display: flex;
        flex-direction: column;

        height: 100%;
        width: 100%;
    }

    &__table-body {
        // 
        display: flex;
        flex-direction: column;
        gap: 10px;

        flex: 1;

    }

    @container menu (width <=992px) {
        .menu {
            &__table-row {
                @include center-flex-column(5px);

                &.menu__table-row--conic {
                    @include center-flex-column(5px);

                }

                &>td:nth-child(n) {
                    width: 100%;
                    border: none;

                    text-align: center;
                }

            }
        }

    }

    @container menu (560px<=width <=992px) {
        .menu__table-cell-content--column {
            @include center-flex(5px);
        }
    }


    &__table-row {
        --_background-color: #3b3b3b57;

        background-color: var(--_background-color);
        // 
        display: table;
        table-layout: fixed;

        width: 100%;

        border-radius: 10px;
        border: 2px solid transparent;
        transition: border-color .25s;

        &--conic {}

        // @include tablet-only {
        //     @include center-flex-column(5px);


        // }

        // @include mobile-only {
        //     @include center-flex-column(5px);

        //     text-align: center;
        // }
    }

    &__delete-button {
        &:hover {
            color: red
        }

        &:active {
            filter: contrast(75%)
        }
    }

    &__table-cell {
        // 
        width: min-content;
        text-align: center;
        padding: 4px 6px;

        &:nth-child(3) {
            --_cell-bg-color: black;
            background-color: var(--_cell-bg-color);
        }

        // border-radius: 8px;

        border-inline-end: 2px solid currentColor;

        &:last-child {
            border-inline-end: none;
        }

        @include tablet-only {
            //
            width: 100%;
            border: none;
        }

        @include mobile-only {
            //
            width: 100%;
            border: none;
        }
    }

    &__table-cell-content {
        @include center-flex(5px);
        flex-wrap: wrap;

        &>label {
            --_label-color: #ffffff;
            color: var(--_label-color);

            transition: color 350ms ease-in-out;
        }

        &--column {
            @include center-flex-column(5px)
        }
    }


    &__label {
        //
    }

    &__input {
        //
        max-width: 60px;
    }


    &__order-changer {
        font-size: 16px;
        font-weight: 500;

        border: 2px solid currentColor;
        border-radius: 10px;

        padding: 10px;
    }


    &__gradient-types {
        @include center-flex-column;

        &--inputs {
            @include center-flex(15px);

        }

        & label {
            display: inline-flex;
            gap: 5px;
        }
    }

    &__creation-language {
        @include center-flex-column(15px);
    }

    &__orientation {
        @include center-flex-column(15px);
    }


    &__angle-picker {
        @include circle-style;

        border: 2px solid currentColor;

        height: 100px;

        background: rgba(255, 255, 255, 5%);

        position: relative;

        &--center-dot {
            content: "";
            @include circle-style;

            position: absolute;
            @include absolute-center;

            height: 5px;


            background-color: currentColor;
        }


        &--marker {
            position: absolute;
            height: var(--_size);

            &:nth-child(odd) {
                scale: 75%;
            }

            aspect-ratio: 1/2;



            top: var(--_top);
            left: var(--_left);

            translate: -50% -50%;

            rotate: var(--_initial-degrees);

            border-bottom-left-radius: 100vmax;
            border-bottom-right-radius: 100vmax;


            background-color: white;
        }

        @each $angle in 0,
        45,
        90,
        135,
        180,
        225,
        270,
        315 {
            &--marker-#{$angle}-deg {
                --_size: 8px;

                --_initial-degrees: #{$angle}deg;
                --_degrees: #{$angle - 90}deg;


                // Define the offset in pixels
                --_offset: 44px; // Adjust this value as needed

                // Calculate the top and left positions with the offset
                --_top: calc(50% + var(--_offset) * sin(var(--_degrees)));
                --_left: calc(50% + var(--_offset) * cos(var(--_degrees)));
            }
        }



        &--rotator {
            --_rotation: 0deg;
            rotate: var(--_rotation);

            position: absolute;
            top: 0%;
            left: 50%;

            height: 50%;
            width: 5px;

            background-color: rgb(182, 181, 181);

            translate: -50% 0%;
            transform-origin: center bottom;


            &::before {
                content: "";

                position: absolute;
                top: 0%;
                left: 0%;

                translate: -45% -50%;

                background-color: var(--bg-primary);
                height: 10px;
                outline: 2px solid currentColor;

                @include circle-style;
            }
        }
    }

    &__gradient-generator-button {
        background-color: #3b3b3b;

        padding-inline: 10px;
        padding-block: 5px;
        border-radius: 100vmax;
    }

    &__gradient-code-container {}


    &__gradient-code {
        // &:empty {
        //     display: none;
        // }

        background-color: #1f1f1f;

        padding: 10px;
        border-radius: 10px;

        overflow-x: auto;
    }

}