@use "../utils/" as *;

.header {

    padding: 20px;

    &__title {
        text-align: center;

        color: transparent;

        background-image: linear-gradient(135deg, #bdc3e1 0%, #f9917e 100%);

        background-clip: text;
    }
}